---
title: General Web Service Errors
hidden_child: true

---

# General Web Service Errors

Certain, general errors will be returned in a standardized way from all API Umbrella web services. Additional, service-specific error messages may also be returned (see individual service documentation for those details). The following list describes the general errors any application may return:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col" style="width: 100px;">Error Code</th>
      <th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">API_KEY_MISSING</th>
      <td class="doc-parameter-name">403</td>
      <td class="doc-parameter-description">
        An API key was not supplied.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">API_KEY_INVALID</th>
      <td class="doc-parameter-name">403</td>
      <td class="doc-parameter-description">
        An invalid API key was supplied.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">API_KEY_DISABLED</th>
      <td class="doc-parameter-name">403</td>
      <td class="doc-parameter-description">
        The API key supplied has been disabled by an administrator.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">API_KEY_UNAUTHORIZED</th>
      <td class="doc-parameter-name">403</td>
      <td class="doc-parameter-description">
        The API key supplied is not authorized to access the given service.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">API_KEY_UNVERIFIED</th>
      <td class="doc-parameter-name">403</td>
      <td class="doc-parameter-description">
        The API key supplied has not been verified yet.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">HTTPS_REQUIRED</th>
      <td class="doc-parameter-name">400</td>
      <td class="doc-parameter-description">
        Requests to this API must be made over HTTPS. Ensure that the URL being used is over HTTPS.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">OVER_RATE_LIMIT</th>
      <td class="doc-parameter-name">429</td>
      <td class="doc-parameter-description">
        The API key has exceeded the rate limits.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">NOT_FOUND</th>
      <td class="doc-parameter-name">404</td>
      <td class="doc-parameter-description">
        An API could not be found at the given URL. Check your URL.
      </td>
    </tr>
  </tbody>
</table>